header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-width: 100vw;
    gap: 32px;
}

header .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
    padding: 24px;
    width: 100%;
}

header .logo-container img {
    width: 60%;
}

header .content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 80%;
    margin: 0 auto;
}

header .content-container .title-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

header .content-container .title-header .line {
    height: 12px;
    width: 36%;
    margin-top: 14px;
    background-color: var(--dark-grey);
}

header .title-header h1 {
    font-size: 32px;
    color: var(--dark-grey);
}

header .text-header p {
    color: var(--dark-grey);
}

@media (min-width: 768px) {
    header .logo-container img {
        width: 10%;
    }
}